body {
  margin: 0;
  font-family: '__Plus_Jakarta_Sans_3288eb','__Plus_Jakarta_Sans_Fallback_3288eb',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
